.page-content {
    color: #000;
    letter-spacing: -0.5px;
    line-height: 140%;
    font-family: 'Sandoll GothicNeo1', 'Verdana', 'Arial', 'Georgia', 'Malgun Gothic', 'Dotum', sans-serif;

    .fullSize {
        margin-left: -30px;
        margin-right: -30px;
    }
    .visualImg {
        max-width: 926px;
        margin: 0 auto;
        img {
            width: 100%;
        }
        .imgName {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 140% */
            letter-spacing: -0.5px;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    .pageDesc {
        margin-bottom: 80px;
        li + li {
            margin-top: 30px;
        }
        p {
            color: #000;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 172%; /* 172.308% */
            letter-spacing: -0.5px;
            &::before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 5px;
                margin-bottom: 3px;
                background-color: #000;
            }
        }
    }

    .division {
        display: flex;
        align-items: stretch;
        justify-content: center;
        min-height: 407px;
        margin-bottom: 40px;
        margin-top: 85px;
        .left {
            width: 50%;
            box-sizing: border-box;
            border-radius: 0 45px 45px 0;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
        .right {
            background-color: #000;
            box-sizing: border-box;
            border-radius: 45px 0 0 45px;
            width: 50%;
            color: #fff;
            padding: 100px 80px;
            padding: 6.5%;
            .h2 {
                font-size: 36px;
                font-weight: bold;
                line-height: 100%;
                margin-bottom: 27px;
            }
            p {
                font-size: 16px;
                line-height: 140%;
            }
        }
    }
    .division-grey {
        min-height: 0;
        margin-top: 0;
        .left {
            background-color: #DEDEDE;
            padding: 23px 32px;
            .caption {
                font-size: 20px;
                font-weight: 300;
                margin-bottom: 12px;
            }
            .line {
                width: 66px;
                height: 1px;
                background-color: #000;
                margin-bottom: 20px;
            }
            .h3 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 42px;
            }
            p {
                font-size: 16px;
                line-height: 175%;
            }
        }
        .right {
            background-color: #DEDEDE;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }
    }
    .division-border {
        margin-top: 30px;
        .left {
            padding: 17px 32px 27px;
            .caption {
                font-size: 20px;
                font-weight: 300;
                margin-bottom: 12px;
            }
            .line {
                width: 66px;
                height: 1px;
                background-color: #000;
                margin-bottom: 20px;
            }
            .h3 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 42px;
                span {
                    font-weight: 400;
                }
            }
            p {
                font-size: 16px;
                line-height: 175%;
            }
            b {
                font-weight: bold;
            }
        }
        .right {
            background-color: transparent;
            padding: 0;
            padding-right: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }
    }
    .division-border-2 {
        .left {
            width: 83%;
            padding-right: 5.8%;
        }
    }

    .tableWrap {
        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 13px;
            margin-bottom: 45px;
            td {
                vertical-align: top;
                border: 1px solid #BBBBBB;
                box-sizing: border-box;
            }
            td:nth-child(1) {
                border-left: 0;
                vertical-align: middle;
                img {
                    width: 100%;
                    min-width: 50px;
                }
            }
            td:nth-child(2) {
                border-right: 0;
                padding: 40px 70px;
                padding: 3.3% 5.8%;
                padding: 40px 5.8%;
            }
            .h3 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 28px;
                span {
                    color: #000;
                    margin-right: 6px;
                }
            }
            p {
                font-size: 13px;
                margin-bottom: 7px;
            }
            li {
                font-size: 13px;
                line-height: 100%;
                padding-left: 22px;
                position: relative;
                word-break: break-all;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                }
            }
            li + li {
                margin-top: 7px;
            }
        }
    }
    
    $red : #F0514D;
    $navy : #036A9B;
    $yellow : #EDB51E;
    $green : #4C9667;
    $pink : #F598A6;
    $blue : #2587C8;

    // 레드테마
    &.theme-red {
        .color {color: $red !important;}
        .bgFill {background-color: $red !important;}
        .pageDesc p::before{background-color: $red;}
        .tableWrap table tr:nth-child(2n-1) td:nth-child(2) {background: rgba(240, 81, 77, 0.10);}
        .division-border {border: 3px solid $red;box-sizing: border-box;}
    }

    // 네이비테마
    &.theme-navy {
        .color {color: $navy !important;}
        .bgFill {background-color: $navy !important;}
        .pageDesc p::before{background-color: $navy;}
        .tableWrap table tr:nth-child(2n-1) td:nth-child(2) {background: rgba(3, 106, 155, 0.10);}
        .division-border {border: 3px solid $navy;box-sizing: border-box;}
    }

    // 옐로테마
    &.theme-yellow {
        .color {color: $yellow !important;}
        .bgFill {background-color: $yellow !important;}
        .pageDesc p::before{background-color: $yellow;}
        .tableWrap table tr:nth-child(2n-1) td:nth-child(2) {background: rgba(237, 181, 30, 0.15);}
        .division-border {border: 3px solid $yellow;box-sizing: border-box;}
    }

    // 그린테마
    &.theme-green {
        .color {color: $green !important;}
        .bgFill {background-color: $green !important;}
        .pageDesc p::before{background-color: $green;}
        .tableWrap table tr:nth-child(2n-1) td:nth-child(2) {background: rgba(76, 150, 103, 0.10);}
        .division-border {border: 3px solid $green;box-sizing: border-box;}
    }

    // 핑크테마
    &.theme-pink {
        .color {color: $pink !important;}
        .bgFill {background-color: $pink !important;}
        .pageDesc p::before{background-color: $pink;}
        .tableWrap table tr:nth-child(2n-1) td:nth-child(2) {background: rgba(245, 152, 166, 0.15);}
        .division-border {border: 3px solid $pink;box-sizing: border-box;}
    }

    // 블루테마
    &.theme-blue {
        .color {color: $blue !important;}
        .bgFill {background-color: $blue !important;}
        .pageDesc p::before{background-color: $blue;}
        .tableWrap table tr:nth-child(2n-1) td:nth-child(2) {background: rgba(37, 135, 200, 0.15);}
        .division-border {border: 3px solid $blue;box-sizing: border-box;}
    }
}

@media screen and (max-width:767px) {
    .page-content .division {
        flex-direction: column;
        .left {
            width: 100%;
            border-radius: 0;
        }
        .right {
            width: 100%;
            border-radius: 0;
        }
    }
    .page-content .division-border .right {
        padding: 17px 32px;
    }
    .page-content .division-border-2 .left {
        width: 100%;
        padding: 17px 32px 27px;
    }
}