.inner {
  margin: 0 auto;
  max-width: 1200px;
}

.mapArea {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #f5f5f5;
}
.mapArea .inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
}
.mapArea .inner .left {
  position: relative;
}
.mapArea .inner .left .dropdw {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 250px;
  border: 1px solid #BBB;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
}
.mapArea .inner .left .dropdw .tab-in {
  padding: 14px;
  padding-right: 47px;
  flex: 1 0 auto;
  font-size: 16px;
  font-weight: bold;
  z-index: 1;
}
.mapArea .inner .left .dropdw .dr-down {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: url(./img/main/ic_selectArr.svg) center no-repeat;
  text-indent: -9999px;
  z-index: 1;
}
.mapArea .inner .left .dropdw.ac .dr-down {
  transform: translateY(-50%) rotate(180deg);
}
.mapArea .inner .left .dropdw.ac ul {
  display: block !important;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  width: 100%;
  border: 1px solid #BBB;
  border-radius: 4px;
  background-color: #fff;
  z-index: 0;
  height: 175px;
  overflow: auto;
}
.mapArea .inner .left .dropdw.ac ul li {
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
}
.mapArea .inner .left .dropdw.ac ul li:hover {
  background-color: #f7f7f7;
}
.mapArea .inner .right {
  position: relative;
}
.mapArea .inner .right .regionName {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 32px;
  font-weight: bold;
  color: #1A1311;
}
.mapArea .inner .right li {
  display: none;
  border-radius: 20px;
  overflow: hidden;
}
.mapArea .inner .right li.ac {
  display: block;
}
.mapArea .inner .right li[name=Seoul] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Gangwon] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Gyeonggi-do] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Incheon] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Chungcheongbuk-do] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Chungcheongnam-do] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Daejeon] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Sejong] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Gyeongsangbuk-do] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Daegu] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Gyeongsangnam-do] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Ulsan] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Busan] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Jeollabuk-do] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Jeollanam-do] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Gwangju] {
  background-color: #fff;
}
.mapArea .inner .right li[name=Jeju] {
  background-color: #fff;
}
.mapArea .inner .right img {
  width: 100%;
}
.mapArea .inner .left,
.mapArea .inner .right {
  flex: 1 0 auto;
  width: calc((100% - 20px) / 2);
}
.mapArea .inner .mapImg {
  position: relative;
}
.mapArea .inner .mapImg li {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
}
.mapArea .inner .mapImg li.ac {
  display: block;
}
.mapArea .inner .mapImg img {
  height: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .inner {
    padding: 0 20px;
  }
  .mapArea .inner {
    flex-direction: column;
    align-items: center;
  }
  .mapArea .inner .left .dropdw {
    width: 100%;
  }
  .mapArea .inner .right {
    width: 100%;
  }
  .mapArea .inner .right img {
    max-width: 684px;
    margin: 0 auto;
    display: block;
  }
}/*# sourceMappingURL=main.css.map */