.inner {
    margin: 0 auto;
    max-width: 1200px;
}

.mapArea {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #f5f5f5;
    .inner {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        max-width: 1200px;
        .left {
            position: relative;
            .dropdw {
                position: absolute;
                right: 0;
                top: 0;
                min-width: 250px;
                border: 1px solid #BBB;
                border-radius: 4px;
                background-color: #fff;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                z-index: 1;
                .tab-in {
                    padding: 14px;
                    padding-right: 47px;
                    flex: 1 0 auto;
                    font-size: 16px;
                    font-weight: bold;
                    z-index: 1;
                }
                .dr-down {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 32px;
                    height: 32px;
                    background: url(./img/main/ic_selectArr.svg) center no-repeat;
                    text-indent: -9999px;
                    z-index: 1;
                }
                &.ac {
                    .dr-down {
                        transform: translateY(-50%) rotate(180deg);
                    }
                    ul {
                        display: block !important;
                        box-sizing: border-box;
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-top: 50px;
                        width: 100%;
                        border: 1px solid #BBB;
                        border-radius: 4px;
                        background-color: #fff;
                        z-index: 0;
                        height: 175px;
                        overflow: auto;
                        li {
                            padding: 14px;
                            font-size: 16px;
                            font-weight: bold;
                            &:hover {
                                background-color: #f7f7f7;
                            }
                        }
                    }
                }
            }
        }
        .right {
            position: relative;
            .regionName {
                position: absolute;
                top: 30px;
                left: 30px;
                font-size: 32px;
                font-weight: bold;
                color: #1A1311;
            }
            li {
                display: none;
                border-radius: 20px;
                overflow: hidden;
                &.ac {
                    display: block;
                }
                &[name="Seoul"] {
                    background-color: #fff;
                }
                &[name="Gangwon"] {
                    background-color: #fff;
                }
                &[name="Gyeonggi-do"] {
                    background-color: #fff;
                }
                &[name="Incheon"] {
                    background-color: #fff;
                }
                &[name="Chungcheongbuk-do"] {
                    background-color: #fff;
                }
                &[name="Chungcheongnam-do"] {
                    background-color: #fff;
                }
                &[name="Daejeon"] {
                    background-color: #fff;
                }
                &[name="Sejong"] {
                    background-color: #fff;
                }
                &[name="Gyeongsangbuk-do"] {
                    background-color: #fff;
                }
                &[name="Daegu"] {
                    background-color: #fff;
                }
                &[name="Gyeongsangnam-do"] {
                    background-color: #fff;
                }
                &[name="Ulsan"] {
                    background-color: #fff;
                }
                &[name="Busan"] {
                    background-color: #fff;
                }
                &[name="Jeollabuk-do"] {
                    background-color: #fff;
                }
                &[name="Jeollanam-do"] {
                    background-color: #fff;
                }
                &[name="Gwangju"] {
                    background-color: #fff;
                }
                &[name="Jeju"] {
                    background-color: #fff;
                }
            }
            img {
                width: 100%;
            }
        }
        .left,
        .right {
            flex: 1 0 auto;
            width: calc((100% - 20px) / 2);
        }
        .imgMap {
            transform: scale(0.8);
        }
        .mapImg {
            position: relative;
            li {
                display: none;
                position: absolute;
                top: 0;
                // left: 50%;
                // transform: translateX(-50%) scale(0.9);
                left: 0;
                &.ac {
                    display: block;
                }
            }

            img {
                // height: 600px;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .inner {
        padding: 0 20px;
    }
    .mapArea .inner {
        flex-direction: column;
        align-items: center;
    }
    .mapArea .inner .left .dropdw {
        width: 100%;
    }
    .mapArea .inner .right {
        width: 100%;
        img {
            max-width: 684px;
            margin: 0 auto;
            display: block;
        }
    }
}